select {
	-webkit-appearance: none;
	-webkit-box-shadow: 1px 1px 1px white;
	-webkit-border-radius: 0.5em;
	-webkit-rtl-ordering: logical;
	color: black;
	-webkit-box-align: center;
	background: white url("../img/selectbg.png") no-repeat right center;
}

.error {
	color: #ff0000;
}

#nodataText {
	font-style: italic;
}