select {
	-webkit-appearance: none;
	-webkit-box-shadow: 1px 1px 1px white;
	-webkit-border-radius: 0.5em;
	-webkit-rtl-ordering: logical;
	color: black;
	-webkit-box-align: center;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
}